.title {
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    background: yellow;
    height:40px;
    padding: 1em;
}

nav ul {
    text-align: center;
    font-family: Arial;
    background: gray;
    height: 20px;
    padding: 1em;
    margin-top: -20px;
}

nav li {
    display: inline-block;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 35px;
}

nav a {
    color: white;
    text-decoration: none;
}

.img {
    margin-left: 100px;
    margin-top: -140px;
    width: 200px;
    height: 200px;

    
}

.v1 {
    margin-left: 50px;
    background-color: yellow;
    width: 10%;
    text-align: center;
        
}

.one {
    margin-left: 70px;
}

.chorus {
    margin-left: 80px;
    background-color: yellow;
    width: 10%;
    text-align: center;
}

.chorusone {
    margin-left: 100px;
}

.v2 {
    margin-left: 50px;
    background-color: yellow;
    width: 10%;
    text-align: center;
}

.two {
    margin-left: 70px;
}

.chorus2 {
    margin-left: 80px;
    background-color: yellow;
    width: 10%;
    text-align: center;

}

.chorustwo {
    margin-left: 100px;
}


section a {
    background-color: yellow;
}