.title {
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    background: yellow;
    height:40px;
    padding: 1em;
}

nav ul {
    text-align: center;
    font-family: Arial;
    background: gray;
    height: 20px;
    padding: 1em;
    margin-top: -20px;
}

nav li {
    display: inline-block;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 35px;
}

nav a {
    color: white;
    text-decoration: none;
}

.img {
    width: 40px;
    height: 40px;
}

.v1 {
    margin-left: 50px;
    background-color: yellow;
}

.one {
    margin-left: 60px;
}

.chorus {
    margin-left: 70px;
    background-color: yellow;
}

.chorusone {
    margin-left: 80px;
}

.v2 {
    margin-left: 50px;
    background-color: yellow
}

.two {
    margin-left: 60px;
}

.chorus2 {
    margin-left: 70px;
    background-color: yellow;
}

.chorustwo {
    margin-left: 80px;
}

.foot {
    border-top-style: solid yellow;
}