body {

    background-color: gray;
}


h1, h4, h5 {

    background-color: cornflowerblue;
    text-align: center;  
}

h2, h3 {
    
    text-align: center;
}

.button {
    background-color: yellowgreen;
    text-align: center;
}


p.summary {
    color: darkslategrey;
}

ul.list {
    color: darkslategrey;
}