h1 {
    color: blue;
    background-color: slategray;
    font-size: 60px;
    text-decoration: underline;
    font-family: arial;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    border-color: black;
}

h2 {
    font-size: 20px;
    font-family: arial;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-family: arial;
    text-align: center;
    
}

h4 {
    background-color: slategray;
    font-size: 30px;
    text-decoration: underline;
    font-family: arial;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    border-color: black;
}

h5 {
    background-color: slategray;
    font-size: 30px;
    text-decoration: underline;
    font-family: arial;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    border-color: black;
}

p {
    color: blue;
    font-size: 20px;
    font-family: arial;
    line-height: 25px;
}

ul {
    color: blue;
    font-size: 20px;
    font-family: arial;
    line-height: 25px;
}